.contact-container {
  max-width: 600px;
  margin: 2rem auto;
  padding: 1.5rem;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.contact-container h2 {
  text-align: center;
  color: #333;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-form label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  color: #555;
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form input:hover,
.contact-form textarea:hover {
  border: 1px solid #000;
}

.contact-form textarea {
  resize: vertical;
}

.button-group {
  display: flex;
  justify-content: flex-end; /* Alinha os botões à direita */
  gap: 1rem; /* Espaçamento entre os botões */
}

.button-group button {
  padding: 0.5rem 1.5rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-group button:hover {
  background-color: #0056b3;
}

.button-group button[type="button"] {
  background-color: #007bff;
}

.button-group button[type="button"]:hover {
  background-color: #0056b3;
}
.error {
  color: red;
  font-weight: bold;
  font-size: small;
}
.success {
  color: #0056b3;
  font-weight: bold;
}
